@charset "UTF-8";
/* golf.jsp ui */
body{
	background-color:#56F569; /*본문 배경색*/
	margin:0px; /*상하좌우 바깥여백을 없앰*/
	padding:0px; /*상하좌우 안여백을 없앰 */
	font-size:0.7em; /*글자크기*/
	line-height:1.2em; /*수직간의 문장 사이의 줄간격,택스트 줄의 높이를 지정,수직정렬*/
    z-index:1;
    top:0em;
    position: relative;
    
    
}

nav ul{
	list-style:none; /* 목록앞 점을 없앰 */
    font-size:25px;/*글자크기*/  
    font-weight:80; /*글자 진하게*/
     z-index:2;
    top:0em;
    position: absolute;
    	  
}
nav ul li{
	float:left; margin:100px 7px 0px 30px;
}
nav a{
	display: block;  height:35px; padding:7px;
	text-decoration: none; /*밑줄 선 제거*/
}

.btn, .btn1{
 padding: 15px 30px;
  margin:4px 4px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  
}
.btn::before{
  content: "";
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
height: 100%;
z-index: -1;
background-color: #000;
-webkit-transform: scaleY(.3);
transform: scaleY(.3);
opacity: 0;
transition: all .3s
}

.btn:hover{
  color:#56F569 ;  
}
.btn:hover::before{
  opacity: 1;
  background-color: #56F569 ;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
  transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}

.btn1::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 3px;
  background: #56F569 ;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.btn1:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}


#login{
	z-index:4;
    top:0em;
    position: absolute;
	float:right;  margin:30px 30px 0px 1800px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:18px; word-spacing: 8px;
} 
#login a{
	text-decoration: none; /*하이퍼링크 걸린곳 밑줄선 제거 */
	color:#ffffff;
}
#logo{
	z-index:3;
    top:0em;
    position: absolute;
	float:left;/*로고 이미지를 왼쪽에 배치*/ width:0px; 
	margin:40px 0px 0px 40px; /*시계방향으로 위,오른쪽,아래쪽,왼쪽 바깥 여백을 동시에 지정*/
}
footer{
	height:80px; margin:50px 0px 0px 0px;
	background-image:url(../images/under_logo.gif);
	background-repeat: no-repeat;
	background-position: 40px center;
}
footer hr{
	width:1900px;
}
footer #copy{
	width:450px; float:left; margin:20px 0px 0px 50px;
}
footer #social{
	width:130px; float:right; margin:20px 20px 0px 0px;
}
footer #social img{
	margin:0px 7px; /*상하 바깥 여백은 0픽셀, 좌우 바깥 여백은 7픽셀 */
}

